Flask==0.10.1
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
Tempita==0.5.2
Werkzeug==0.9.6
argparse==1.2.1
beautifulsoup4==4.3.2
decorator==3.4.0
defer==1.0.2
futures==2.2.0
httplib2==0.9
itsdangerous==0.24
livestreamer==1.11.1
lxml==2.3.2
numpy==1.6.1
oauth==1.0.1
pbr==0.10.7
piston-mini-client==0.7.2
pyOpenSSL==0.12
pyserial==2.5
pyxdg==0.19
queuelib==1.2.2
reportlab==2.5
requests==2.5.1
simplejson==2.3.2
singledispatch==3.4.0.3
six==1.9.0
sqlalchemy-migrate==0.9.2
sqlparse==0.1.14
virtualenv==1.11.6
w3lib==1.10.0
wsgiref==0.1.2
zope.interface==3.6.1
